@import url('/fonts/fonts.css');
body{
    margin: 0;
    padding: 0;
   
}
:root{
--main-color: #274479;
--secondary-color: #0075c9;
--third-color:#b6d7ee;
}
/* toggler  */
.toggle-up{
    color: white ;
    width: fit-content;
    padding: 5px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    background: var(--main-color);
    position: fixed;
    top: 500px;
    right: 20px;
    z-index: 1;
}
.toggle-up:focus{
    color: red;
}
/* ------------------ */


/* nav and hero section */
/* container of the nav and hero section */
.nav-hero-ctn{
    
    width: 100%;
    height: fit-content;
    width: 100% ;
    height: 100% ;
    background: url('./assets/01.png');
    background-size:  cover auto;
    background-position-x: center ;
    background-repeat: no-repeat;
   
    
}
/* navbar background */
.bg{
    background: linear-gradient(rgb(255, 255, 255),rgba(255, 255, 255, 0.773),rgba(255, 255, 255, 0.536),rgba(179, 179, 179, 0.01));
    
}
/* brand border */
.brand-border{
    border-right: 2px solid var(--main-color);
    
}
/* brand adjustment : gaca investment portal  */
.brand{
    font-family:'GretaArabicAR_LTRegular' ;
    display: block;
    word-wrap: break-word;
    width: 120px;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    text-decoration: none;
    color: var(--main-color);
}
/* language arabic holder and adjustments */
.lang{
   margin-left: auto;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color);
    height: fit-content;
}
.lang:hover{
    color: var(--secondary-color);
   cursor: pointer;
    
     
 }
 /* margins to make it on top  */
.right{
   
    margin-left: -80px;
    margin-top: -50px ;
}
 /* ----------- */

/* hiding nav  as default mobile view*/
.nav{
    display: none ;
   
   
}
/* bars and close adjustments */
.bars-ctn{
    text-align: right;
}
.bars{
    width: 20px;
    height: 20px;
    
}
.bars:hover{
    cursor: pointer;
    
}
#close:hover{
    cursor: pointer;
}
/* ---------------------- */



/* large devices  */
 @media screen and (min-width:768px){
    .container-fluid{
        justify-content: center;
        width: 100%;
    }
   .navbar{
    justify-content: center;
    width: auto !important;
   }
    .nav{
        
        display:flex ;
        
    }
    .nav-ctn{
        margin-top: 50px ;
    }
    .navbar-list{
        display: flex;
        text-decoration: none;
        list-style: none;
        margin: 0;
        justify-content: right;
        justify-content: space-between;
        height: 100%;
        
    }
    .list-op{
        border: none;
        background-color: transparent;
        color: var(--main-color);
        margin: 0 0 0 29px;
        font-weight: 645;
        font-size: 13.5px;
        text-transform: uppercase;
    }
    .btn-account{
        font-family: 'GretaArabicAR_LTBold';
        border: none;
        background: #ef3a4c;
        color: white;
        padding: 0.5px 2px 0.5px 2px;
        margin-left: 1rem;
        border-radius: 10px;
        width: 30px;
        height: 30px;
    }
    .bars-ctn {
        display: none;
    }
    .navbar-list li a{
        color: #274479;
        text-decoration: none;
        margin: 0 0 0 29px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .active{
        border-bottom: 2px solid var(--main-color);
    }
    
} 
/* tablets/ipads  */
@media screen and (max-width:768px){
    .nav-ctn{
        width: fit-content;
    }
     .col-sm-auto {
         padding-top: 10px;
        width: fit-content ;
        height: 100px ;
    }
   
    .analysis{
        height: fit-content;
    }
    .box{
        text-align: center;
       align-items: center;
        width: 200px;
        height: 200px !important;
        width: fit-content;
        position: relative;
       
        font-size: 13px;
    }
    .box img{
       width: fit-content auto;
       height:fit-content auto;
        
    }
    .col-4{
       display:flex !important;
       column-width: auto;
       padding: 0;
    }
    
    
}
/* mobile devices */
@media screen and (max-width:414px){
    .navbar{
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
       
    }
   .col-sm-auto img{
    padding-top: 10px;
   width: 120px;
   height: auto;
}
   .col-9 {
       
       width: auto !important;
   }
   .analysis{
       padding: 10px;
       width: 100%;
       height:fit-content auto;
       margin-bottom: 20px;
   }
   
   .box{
      
    text-align: center;
   align-items: center;
    width: 200px;
    height:200px !important;
    width: fit-content;
    position: relative;
    font-size: 10px;
}
.box img{
   width: 50px;
   height:50px;
   margin: 8px;
    
}
.col-4{
   display:flex !important;
   column-width: auto;
   padding: 0;
}
}
