
.container{
    max-width: 1100px;
}

.hero-ctn{
    margin-top: 50px;
    display: grid;
    grid-column: auto;
}
.info-holder{
    margin: 150px 0 80px 38%;
    justify-content: center;
}
.topLine{
    line-height: 20px;
    text-transform: uppercase;
}
.heading{
    line-height: 30px;
    font-size: 30px;
    word-break: 3;
    text-transform: uppercase;
    font-weight: bold;

}
.explore{
    background-color: transparent;
    text-decoration: none;
    border: none;
    font-weight: bold;
    color: var(--main-color);
   
}

.action{
    justify-content: right;
    display: flex;
}
.action a{
   text-decoration: none;
   color: var(--main-color);
}
#arrow{
    margin: 5px 0 0 5px;
    height: fit-content;
}
#arrow:hover{
    margin-left: 0;
    transform: rotate(180deg);
    transition: 2s ease-in-out;
    
}

.push{
    margin-left: -1%;
}
.pics input{
    height: 50px;
    width: 20px;
   border-color:var(--main-color);
   margin-bottom: 60px;
}
.boxes-ctn{
    margin-right: 10 px auto;
    margin-left: 10px auto;
    height: auto;
    justify-content: space-between;
}
.analysis{
   display: flex;
   margin-left: -40px;
}
.push{
    
    word-wrap: break-word;
    width: 400px;
}
.box{
    
    margin-top: -60px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 150px ;
    max-height: 200px;
    width: 350px;
    position: absolute;
   overflow: visible;
}
.box .col  p{
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 10px 0 10px 0;
    font-size: 12px;
}
.card-heads{
    font-weight: bold;
    font-size: 25px !important;
    color: var(--main-color);
}
.card-desc{
    font-weight: 600;
}
.box .col ,.col-auto{
    align-self: center;
    line-height: 20px;
    width: fit-content;
    
}
.radios{
    height: fit-content ;
}


@media screen and (max-width:1280px){
    .analysis{
        margin: 0;
    }
    .analysis .container{
        padding: 0;
       max-height:0 !important;
    }
    .nav-hero-ctn{

        background-color: var(--main-color);
    }
    .boxes-ctn{
        align-items: center;
        margin-top: -30px;
        justify-content: space-between;
    }
    .box{
        max-width: fit-content;
        max-height: fit-content;
        position: relative !important;
        margin: 10px 0 10px 0;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        
    }
    .box .col-3{
        width: 200px ;
        height: 200px ;
    }
    .box .row{
       text-align: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .box img{
        width: 50px;
        height: 50px;
    }
    .card-heads{
        font-size: 20px !important;
    }
    .radios{
        margin:-20px 0 10px 0;
    }
    .radios input{
        margin: 0;
    }
    .hero-ctn{
        margin: 0;
    }
}




@media screen and (max-width:820px){
    .nav-hero-ctn{
        background-position-x: left;
    }
    .analysis{
        margin: 0;
    }
    .info-holder{
        margin-left: 0;
        margin-top: 0;
    }
    .radios input{
        margin: 0  !important;
    }
    .analysis .container{
        padding: 0;
    }
    .nav-hero-ctn{

        background-color: var(--main-color);
    }
    .boxes-ctn{
        /* flex-direction: column; */
        align-items: center;
        margin-top: -30px;
        justify-content: space-between;
    }
    .box{
        max-width: fit-content;
        max-height: fit-content;
        position: relative !important;
        margin: 10px 0 10px 0;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        
    }
    .box .row{
       text-align: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .box img{
        width: 50px;
        height: 50px;
    }
    .card-heads{
        font-size: 14px !important;
    }
    .card-desc{
        font-size: 11px !important;
    }
}

@media screen and (max-width:414px){
    .nav-hero-ctn{
        background-size: cover;
    }
    .analysis {
        height: 200px;
        width: fit-content;
    }
    
    .hero-ctn{
        margin: 30px 0 0 0;
        justify-content: center;
        justify-items: center;
        align-items: center;
        /* display: block; */
    }
    .action{
        justify-content: center;
    }
    .push p{
        padding: 0 !important;
       
        margin: 0;
        text-align: center;
    }
    .info-holder{
        margin-left: 0;
        margin-top: 0;
    }
    .radios input{
        margin: 0  !important;
    }
    .analysis {
        width: fit-content;
        height: auto;
    }
    .nav-hero-ctn{

        background-color: var(--main-color);
    }
    .boxes-ctn{
        height: fit-content;
        width: fit-content;
        /* flex-direction: column; */
       align-items: flex-end;
    }
   .analysis .col-3{
       width: fit-content ;
       justify-items: center;
       justify-content: center;
       align-self: flex-start;
   }
    .box{
        height: 288px  !important;
        width: fit-content !important;
        
    }
    .mobile{
        margin: 25px 0 0 0;
    }

    .box img{
        width: 40px;
        height: 40px;
    }
    .box .col{
        line-height: normal;
    }
    .card-heads{
        font-size: 1.4em !important;
    }
    .card-desc{
        font-size: 1.5em !important;
    }
    .box .row{
        height: fit-content;
    }
    .box .col p {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 2px 0 10px 0;
        font-size: 12px;
    }
}